html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group{
    display:flex;
    padding: 10px;
    font-size: 16px;
    display:flex;
    margin-right: 50px;
}

.button {
    background-color: #0066ffa2; /* Blue color */
    color: rgb(239, 239, 239); /* White text */
}

button:active {
    transform: scale(0.95); /* Slightly shrinks the button */
}


.container {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping into multiple rows */
    width: 500px;   /* Fixed container width */
    height: 500px;  /* Fixed container height */
    border: 2px solid black;
}
  
.pixel {

    /*in order to have a flexbable grid */
    /*you need to adjust flex & height */
    /*if you have a 3x3 grid, you need 100/3 = 33.3% */
    flex: 0 0 25%;  
    height: 25%;

    box-sizing: border-box;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    
}

/* width: 25%;       Each item takes 1/4 of the row (for 4x4 layout) */

.colorChange{
    background-color: yellow;
}